<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Music Discs</title>

 
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    

    <div id="app">

        <h1>
            My albums


            <!-- 
                Creare una select con tutti i generi dei dischi. 
                In base a cosa scegliamo nella select, vedremo i corrispondenti cd. 
                - dobbiamo creare le option della select
                - prima recuperare i generi dei dischi disponibili
                    - usando il forEach creiamo un nuovo array con solo la lista dei generi
                - Questi generi li salvo in un array
                    - in html li stamp con un v-for
                        - Ogni genere quindi sarà una option all'interno della select
                - Al cambio della select, filtriamo i dischi in base al genere scelto
                    - sulla select posso usare l'evento change per capire il nuovo valore
                    - All'interno della funzione, eseguo il filter sui dati e li salvo 
                        in una nuova variabile
            -->
            <select  name="" id="" v-model="input">
               <option value="all">All</option>
                <option  v-for="genere in getGeneresList" :value="genere">
                    {{genere}}
                </option>

            </select>
        </h1>
        
        <div>

            <div  class="albums-container" >
                <div class="album" v-for="card in genereFiltered" >
                    <!-- copertina -->
                    <img :src="card.poster">
    
                    <!-- Titolo album -->
                    <h3>{{card.title}}</h3>
    
                    <!-- Nome Artista -->
                    <h4>{{card.author}}</h4>
    
                    <!-- Anno album -->
                    <span>{{card.year}}</span>
                </div>
            </div>
        </div>

            


    </div>

    <script src="scripts/app.js"></script>
</body>

</html>